{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    body {
      padding-top: 56px;
        }

          .bg-image-full {
          background: no-repeat center center scroll;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
          -o-background-size: cover;
        }
    </style>
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/bg-header102_2.jpg');">
  <div style="height: 300px;"></div>
  <!--<img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt="">-->
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>¿Qué es la Línea 102 tu derecho a ser oído/a?</h1>
    <p class="lead">La Línea 102 es un servicio telefónico gratuito de atención pública y permanente para recepcionar consultas, información y/o notificaciones sobre situaciones de vulneración de derechos de niños, niñas y adolescentes. Atiende las 24 horas del día, los 365 días del año. La misma está en funcionamiento desde el año 2007 a la actualidad.</p>
    
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/bg-header102_5-1.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 300px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>¿Quiénes pueden llamar?</h1>
    <p class="lead">Pueden llamar especialmente niñas, niños y adolescentes con derechos vulnerados (salud, educación, identidad, maltratos, trabajo infantil etc.); o en general sus familiares, personas allegadas o cualquier ciudadano/a que tenga conocimiento o sospecha sobre una situación de vulneración que puedan estar atravesando cualquier persona menor de edad..</p>
  
  </div>
  
</section>
  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/bg-header102__31.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 300px;"></div>
  </section>
  
<section class="py-5">
  <div class="container">
    <h1>¿Qué pasos debo seguir?</h1>
    <p class="lead">Se puede acceder desde un teléfono celular sin costo alguno marcando el 102 ó a través del teléfono fijo (0388) 4225010, cabe recordar que la llamada se puede hacer de manera anónima.</p>
       <p>Acorde a la Ley Nacional Nº 26061 se garantizan, protegen y restituyen los derechos que hayan sido vulnerados y/o amenazados,articulando desde la secretaria Provincial de Niñez, Adolescencia y Familia con los demás organismos gubernamentales que integran el Sistema Provincial de Protección de Derechos de la población infantil y adolescente.</p>
  </div>
</section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/atencion-psicologica-UNAM.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 300px;"></div>
  </section>

<section class="py-5">
  <div class="container">
    <h1>¿Qué documentación debo presentar??</h1>
    <p class="lead">No se presenta ninguna documentación</p>
    </div>
</section>

<section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/bg-header102_4-2.jpg');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 300px;"></div>
</section>

<section class="py-5">
  <div class="container">
    <h1>¿Qué debo tener en cuenta?</h1>
    <p class="lead">La línea 102 no es un dispositivo de recepción de denuncia, sino de notificaciones.</p>
    <p>En la recepción de la llamada se brinda escucha y orientación a través de un operador/a capacitado; y contención por parte  de un equipo de profesionales para ayudarte en lo que necesites.</p>
    <p>Asimismo la Línea 102 atiende personalmente en calle Salta Nº 1162 en San Salvador de Jujuy</p>
  </div>
</section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('http://spi.jujuy.gob.ar/wp-content/uploads/sites/53/2019/12/bg-header102_5-3.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 300px;"></div>
  </section>

   
   
{% endblock %}