{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="login">
    <div class="centrado">
        <h2>Ingrese a Coindear</h2>
        {% if form.errors %}
            <p style="color: red">Tu usuario y Contraseña son incorrectos, por favor intenta de nuevo.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label for="id_username">Usuario:</label><br>
                <input type="text" class="form-control" name="username" autofocus maxlength="254" required id="id_username" /><br>
            </div>
            
            <div class="input-group">
                <label for="id_password">Contraseña:</label><br>
                <input type="password" class="form-control" name="password" id="id_password" required /><br>
            </div>
            
            <div class="input-group" style="margin:10px;">
                <button class="btn btn-primary" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}